.custom-realtime{
  background-color: #f3f3f3;
  width: 100%;
  height: 700px;
  padding: 10px;
  overflow: hidden;
}

.custom-agent-status{
  li{
    float: left;
    padding: 0 !important;
//    margin: 0 10px !important;

    i{
      margin-right: 0 !important;
      padding-right: 0 !important;
    }
    label{
      vertical-align: middle;
    }
  }
}

.custom-stream{
  height: 680px;
  overflow: auto;
}

.custom-message{
  margin-bottom: 0 !important;
//  width: 50%;
//  position: absolute !important;
//  margin-left: 25% !important;
}

.custom-left-padding{
  padding-left: 6px !important;
}

.custom-release-project-list{
  .buttons{
    display: none;
    position: absolute;
    top: 2px;
    right: 2px;
  }

  td{
    position: relative;
  }
  
  tr:hover{
    .buttons{
      display: block;
    }
  }
}

.menu .active{
  color: #3b83c0 !important;
}

.custom-no-padding{
  padding: 0 !important;
}

.custom-active-task{

  tbody tr:nth-child(2){
    td{
      border-top: none !important;
    }
  }
}