<!DOCTYPE html>
<html ng-app="app">
<head>
    <title>Hoobot——控制台</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <script src="js/vendor/require.js" data-main="/js/main.js"></script>
    <link rel="stylesheet" type="text/css" href="/package/semantic/semantic.css">
    <link href="css/main.css" media="screen" rel="stylesheet" />
    <base href="/">
</head>
<body>

<div class="ui icon message custom-message" quickly-message ng-class="message.type">
    <i class="close icon" ng-click="onClickClose()"></i>
    <i class="notched alarm icon"></i>
    <div class="content">
        <p ng-bind="message.content"></p>
    </div>
</div>

<div class="ui internally celled grid" style="margin-top: 0px;">
    <div class="ui row">
        <div class="sixteen wide column">
            <div class="ui secondary  menu">
                <a class="item" href="/" ng-class="{active: activeMenu == 'task'}">
                    <i class="tasks large icon"></i>预览
                </a>
                <a class="item" href="/realtime" ng-class="{active: activeMenu == 'realtime'}">
                    <i class="wait large icon"></i>实时日志
                </a>
                <a class="item" href="/agent" ng-class="{active: activeMenu == 'agent'}">
                    <i class="database large icon"></i>代理状态
                </a>
                <a class="item" href="/release" ng-class="{active: activeMenu == 'release'}">
                    <i class="send large icon"></i>发布
                </a>
                <div class="right menu">
                    <div class="item active">
                        <ul class="ui horizontal list custom-agent-status" agent-status>
                            <li class="item">
                                <label>代理状态：</label>
                            </li>
                            <li class="item" ng-repeat="agent in agents">
                                <i class="large circle icon" ng-class="{true: 'green check', false: 'red remove'}[agent.online]"></i>
                                <label ng-bind="agent.uuid"></label>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="ui row">
        <div class="sixteen wide column">
            <ui-view></ui-view>
        </div>
    </div>
</div>

<div class="ui small modal" release-project-editor>
    <i class="close icon"></i>
    <div class="header">
        添加新项目
    </div>
    <div class="content">
        <form class="ui form">
            <div class="field">
                <label>项目名称</label>
                <input type="text" ng-model="project.repos_name">
            </div>
            <div class="field">
                <label>仓库地址</label>
                <input type="text" ng-model="project.repos_git">
            </div>
            <div class="field">
                <label>Token
                    <a href="http://bhf.hunantv.com/project/88/version/80/document/4020" target="_blank" title="如何知道我的Token？">
                        <i class="icon help circle large"></i>
                    </a>
                </label>
                <input type="text" ng-model="project.token">
            </div>
        </form>
    </div>
    <div class="actions">
        <div class="default close ui button">取消</div>
        <div class="primary approve ui button" ng-click="onClickSave($event)">保存</div>
    </div>
</div>

<div class="ui page dimmer" id="fullscreen" dimmer>
    <div class="ui text loader">Processing</div>
</div>

</body>
</html>