<div>
    <textarea id="tmpl-home-default">

    </textarea>

    <!--服务器的状态-->
    <textarea id="tmpl-status">
        <div class="ui grid">
            <div class="ten wide column">
                <h3>代理状态</h3>
                <table class="ui celled structured table" agent-status>
                    <thead>
                    <tr>
                        <th class="one wide"></th>
                        <th class="one wide">UUID</th>
                        <th class="three wide">服务器地址</th>
                        <th class="one wide">状态码</th>
                        <th class="one wide">版本</th>
                        <th>工作目录</th>
                        <th class="three wide">最后检查</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="agent in status.agents">
                        <td class="center aligned">
                            <i class="large circle icon" ng-class="{true: 'green check', false: 'red remove'}[agent.online]"></i>
                        </td>
                        <td>{{agent.uuid}}</td>
                        <td>{{agent.server}}</td>
                        <td>
                            {{agent.info.statusCode}}
                        </td>
                        <td>
                            {{agent.info.version}}
                        </td>
                        <td>
                            {{agent.info.previewDirectory}}
                        </td>
                        <td data-time-ago="{{agent.timestamp}}">
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="six wide column">
                <h3>Silky版本</h3>
                <div>
                    {{status.silkyVersion}}
                </div>
                <h3>Silky 插件</h3>
                <div ng-bind-html="status.silkyPlugin | unsafe">
                </div>
            </div>
        </div>
    </textarea>

    <textarea id="tmpl-deploy-agent-dropdown">
        <div class="ui teal buttons">
            <div class="ui button" ng-click="onClickDeploy($event, task)" ng-class="{loading: runningTask.id == task.id}">部署</div>
            <div class="ui floating dropdown icon button" dropdown-action>
                <i class="dropdown icon"></i>
                <div class="menu">
                    <div class="item" ng-repeat="agent in status.agents" ng-click="onClickDeploy($event, task, agent.uuid)">
                        <i class="play icon"></i>部署到{{agent.uuid}}
                    </div>
                </div>
            </div>
        </div>
    </textarea>

    <textarea id="tmpl-projects">
        <div class="ui grid">
            <div class="row" style="display: none;">
                <div class="six wide column">
                    <h3>所有项目</h3>
                </div>
                <div class="ten wide column">
                    <h3>任务列表</h3>
                </div>
            </div>
            <div class="row">
                <div class="six wide column">
                    <project-list></project-list>
                </div>

                <div class="ten wide column">
                    <task-list data-project-id="{{currentProjectId}}"></task-list>
                </div>
            </div>
        </div>
    </textarea>

    <!--任务列表-->
    <textarea id="tmpl-task-list">
        <table class="ui celled structured table">
            <thead>
            <tr>
                <th class="one wide">Hash</th>
                <th>说明</th>
                <th class="three wide">创建时间</th>
                <th class="three wide">最后执行</th>
                <th class="two wide">状态</th>
                <th class="two wide">部署</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="task in tasks.items" ng-class="{positive: runningTask.id == task.id}">
                <td>
                    <a href="{{task.url}}" target="_blank">{{task.hash | limitTo: 10}}</a>
                </td>
                <td>{{task.message}}</td>
                <td>{{task.timestamp | date: 'yyyy-MM-dd hh:mm'}}</td>
                <td>{{task.last_execute | date: 'yyyy-MM-dd hh:mm'}}</td>
                <td>{{task.status | taskStatus}}</td>
                <td class="center aligned">
                    <deploy-agent-dropdown/>
                </td>
            </tr>
            </tbody>
        </table>
    </textarea>

    <!--项目列表-->
    <textarea id="tmpl-project-list">
         <table class="ui celled structured table">
             <thead>
             <tr>
                 <th>项目名称</th>
                 <th>最新任务</th>
                 <th>最新状态</th>
             </tr>
             </thead>
             <tbody>
             <tr ng-repeat="project in projects"
                 ng-click="onClickProjectItem($event, project)"
                 ng-class="{active: project.project_id == currentProjectId, error: project.status != 10 && project.status != 1}">
                 <td>{{project.repos | projectName}}</td>
                 <td>{{project.message}}</td>
                 <td>{{project.status | taskStatus}}</td>
             </tr>
             </tbody>
         </table>
    </textarea>

    <textarea id="tmpl-realtime">
      <div class="custom-realtime ui grid" realtime-log>
          <div class="ui row" ng-show="running">
              <div class="eight wide column custom-overview">
                  <h3>摘要</h3>
                  <div class="custom-content"></div>
              </div>
              <div class="eight wide column custom-stream">
                  <h3>实时日志</h3>
                  <div class="custom-content" realtime-stream></div>
              </div>
          </div>
          <div class="ui row custom-idle" ng-hide="running">
              <div class="sixteen wide column">
                没有运行任何任务
              </div>
          </div>
      </div>
    </textarea>

    <!--发布版本的项目列表-->
    <textarea id="tmpl-release-project-list">
         <table class="ui celled structured table custom-release-project-list">
             <thead>
             <tr>
                 <th class="three wide column">项目名称</th>
                 <th class="five wide column">Token</th>
                 <th>git地址</th>
             </tr>
             </thead>
             <tbody>
             <tr ng-repeat="project in projects"
                 ng-class="{error: !project.online, active: project.id == currentReleaseProjectId}"
                 ng-click="onClickProject($event, project)">
                 <td>{{project.repos_git | projectName}}</td>
                 <td>{{project.token}}</td>
                 <td>
                     {{project.repos_git}}
                     <div class="ui small icon buttons right floated">
                         <div class="ui button red left" ng-click="onClickRemove($event, project)" title="删除项目"><i class="remove icon"></i></div>
                         <div class="ui button blue right" ng-click="onClickEdit($event, project)" title="编辑项目"><i class="edit icon"></i></div>
                         <div class="ui button green right" ng-click="onClickRefresh($event, project)" title="刷新Tag列表"><i class="refresh icon"></i></div>
                     </div>
                 </td>
             </tr>
             </tbody>
         </table>
    </textarea>

    <!--发布的主界面-->
    <textarea id="tmpl-release">
        <div class="custom-release ui grid">
            <div class="ui row">
                <div class="eight wide column">
                    <release-project-list></release-project-list>
                    <div class="ui row center aligned" style="text-align: right">
                        <div class="green ui button" ng-click="onClickEdit($event)">
                            <i class="add icon"></i>
                            添加新项目
                        </div>
                    </div>
                </div>
                <div class="eight wide column">
                    <release-tag-list></release-tag-list>
                </div>
            </div>
        </div>
    </textarea>

    <!--标签列表-->
    <textarea id="tmpl-release-tag-list">
        <div>
            <table class="ui celled structured table custom-release-project-list" ng-show="tags.success && tags.items.length > 0">
                <thead>
                <tr>
                    <th class="three wide column">Tag</th>
                    <th class="four wide column">Hash</th>
                    <th class="six wide column">Message</th>
                    <th class="three wid column">控制</th>
                </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="tag in tags.items">
                        <td>
                            {{tag.name}}
                        </td>
                        <td>
                            <a href="{{tag.commit.id | hash2Link: tag.ssh_git}}" target="_blank">
                                {{tag.commit.id | limitTo: 20}}
                            </a>
                        </td>
                        <td>
                            {{tag.commit.message}}
                        </td>
                        <td class="center aligned">
                            <div class="ui teal button" ng-click="onClickDeploy($event, tag)">发布</div>
                        </td>
                    </tr>
                    <tr style="display: none;">
                        <td colspan="3" class="ui form">
                            <input type="text" placeholder="请手动输入hash值进行部署">
                        </td>
                        <td class="center aligned">
                            <div class="ui orange button" ng-click="onClickDeploy($event)">部署</div>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div ng-show="!tags.success || tags.items.length == 0">
                <div class="ui info message" ng-show="tags.success">
                    <p>没有检查到可用的标签，请刷新标签，或者检查配置是否错误</p>
                </div>

                <div class="ui negative message" ng-show="tags.error">
                    <div class="header">
                        似乎有一些错误发错了，详细的信息如下：
                    </div>
                    <p>{{tags.error | json}}</p>
                </div>
            </div>
        </div>
    </textarea>
</div>