
<div>
    <textarea id="tmpl-home-default">

    </textarea>

    <!--服务器的状态-->
    <textarea id="tmpl-status">
        <div class="ui grid">
            <div class="ten wide column">
                <h3>代理状态</h3>
                <table class="ui celled structured table" agent-status>
                    <thead>
                    <tr>
                        <th class="one wide"></th>
                        <th class="one wide">UUID</th>
                        <th class="three wide">服务器地址</th>
                        <th class="one wide">Status</th>
                        <th class="one wide">版本</th>
                        <th>工作目录</th>
                        <th class="three wide">最后检查</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="agent in status.agents">
                        <td class="center aligned">
                            <i class="large circle icon" ng-class="{true: 'green check', false: 'red remove'}[agent.online]"></i>
                        </td>
                        <td>{{agent.uuid}}</td>
                        <td>{{agent.server}}</td>
                        <td>
                            {{agent.info.statusCode}}
                        </td>
                        <td>
                            {{agent.info.version}}
                        </td>
                        <td>
                            {{agent.info.previewDirectory}}
                        </td>
                        <td data-time-ago="{{agent.timestamp}}">
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="six wide column">
                <h3>Silky版本</h3>
                <div>
                    {{status.silkyVersion}}
                </div>
                <h3>Silky 插件</h3>
                <div ng-bind-html="status.silkyPlugin | unsafe">
                </div>
            </div>
        </div>
    </textarea>

    <textarea id="tmpl-deploy-agent-dropdown">
        <div class="ui teal buttons">
            <div class="ui button" ng-click="onClickDeploy($event, task)" ng-class="{loading: runningTask.id == task.id}">部署</div>
            <div class="ui floating dropdown icon button" dropdown-action>
                <i class="dropdown icon"></i>
                <div class="menu">
                    <div class="item" ng-repeat="agent in status.agents" ng-click="onClickDeploy($event, task, agent.uuid)">
                        <i class="play icon"></i>部署到{{agent.uuid}}
                    </div>
                </div>
            </div>
        </div>
    </textarea>

    <textarea id="tmpl-projects">
        <div class="ui grid">
            <div class="row" style="display: none;">
                <div class="six wide column">
                    <h3>所有项目</h3>
                </div>
                <div class="ten wide column">
                    <h3>任务列表</h3>
                </div>
            </div>
            <classify-user-list></classify-user-list>
            <div class="row">
                <div class="eight wide column">
                    <preview-project-list></preview-project-list>
                </div>

                <div class="eight wide column">
                    <task-list data-project-id="{{currentProjectId}}"></task-list>
                </div>
            </div>
        </div>
    </textarea>

    <!--任务列表-->
    <textarea id="tmpl-task-list">
        <table class="ui celled structured table custom-commit-list">
            <thead>
            <tr>
                <th class="one wide">Hash</th>
                <th>说明</th>
                <th class="custom-full-time">创建时间</th>
                <th class="custom-full-time">最后执行</th>
                <th style="width: 60px; min-width: 60px;">状态</th>
                <th class="custom-full-time">部署</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="task in tasks.items" ng-class="{positive: runningTask.id == task.id}">
                <td>
                    <a href="{{task.url}}" target="_blank">{{task.hash | limitTo: 10}}</a>
                </td>
                <td>
                    <span class="custom-message">
                        {{task.message}}
                    </span>
                </td>
                <td>{{task.timestamp | date: 'yyyy-MM-dd HH:mm'}}</td>
                <td>{{task.last_execute | date: 'yyyy-MM-dd HH:mm'}}</td>
                <td>{{task.status | taskStatus}}</td>
                <td class="center aligned">
                    <deploy-agent-dropdown/>
                </td>
            </tr>
            </tbody>
        </table>
    </textarea>

    <!--项目列表-->
    <textarea id="tmpl-preview-project-list">
         <table class="ui celled structured table">
             <thead>
             <tr>
                 <th class="four wide column">项目名称</th>
                 <th class="custom-no-padding">
                     <table class="ui very basic table custom-active-task">
                         <thead>
                             <tr>
                                 <td class="two wide center aligned">服务器</td>
                                 <td class="custom-left-padding">message & hash</td>
                                 <td class="four wide center aligned custom-deploy-time">部署时间</td>
                             </tr>
                         </thead>
                     </table>
                 </th>
             </tr>
             </thead>
             <tbody>
             <tr ng-repeat="project in projects"
                 class="custom-project-preview-row"
                 ng-click="onClickProjectItem($event, project)"
                 ng-if="project.active_task_total > 0"
                 ng-class="{active: project.project_id == currentProjectId, error: project.status != 10 && project.status != 1}">
                 <td ng-bind-html="project.repos | projectName | highlightMember | unsafe"></td>
                 <td class="custom-no-padding">
                     <active-task data-project-id="{{project.project_id}}"></active-task>
                 </td>
             </tr>
             </tbody>
         </table>
    </textarea>

    <!--活动的任务-->
    <textarea id="tmpl-active-task">
        <table class="ui very basic table custom-active-task">
            <tr ng-show="activeTask.length == 0">
                <td class="custom-left-padding">
                    还没有部署的版本
                </td>
            </tr>
            <tr ng-repeat="item in activeTask"
                ng-show="activeTask.length > 0"
                ng-class="{'custom-unlock': item.is_lock, 'custom-lock': !item.is_lock }">
                <td class="two wide center aligned">
                    {{item.server}}
                    <div
                            class="ui icon button right floated"
                            ng-click="onClickLock($event, item)"
                            title="{{item.is_lock ? '解锁' : '锁定'}}"
                            >
                        <i class="icon medium" ng-class="{'unlock alternate red': item.is_lock, 'lock': !item.is_lock}"></i>
                    </div>
                </td>
                <td class="custom-left-padding">
                    <a href="{{item.url}}" target="_blank">{{item.hash | limitTo: 10}}</a>
                    <span class="custom-message">{{item.message}}</span>
                </td>
                <td class="four wide center aligned  custom-deploy-time">{{item.timestamp | date: 'yyyy-MM-dd hh:mm'}}</td>
            </tr>
        </table>
    </textarea>

    <textarea id="tmpl-realtime">
      <div class="custom-realtime ui grid" realtime-log>
          <div class="ui row" ng-show="running">
              <div class="eight wide column custom-overview">
                  <h3>摘要</h3>
                  <div class="custom-content"></div>
              </div>
              <div class="eight wide column custom-stream">
                  <h3>实时日志</h3>
                  <div class="custom-content" realtime-stream></div>
              </div>
          </div>
          <div class="ui row custom-idle" ng-hide="running">
              <div class="sixteen wide column">
                没有运行任何任务
              </div>
          </div>
      </div>
    </textarea>

    <!--发布版本的项目列表-->
    <textarea id="tmpl-release-project-list">
         <table class="ui celled structured table custom-release-project-list">
             <thead>
             <tr>
                 <th class="three wide column">项目名称</th>
                 <th class="five wide column">Token</th>
                 <th>git地址</th>
             </tr>
             </thead>
             <tbody>
             <tr ng-repeat="project in projects"
                 ng-class="{error: !project.online, active: project.id == currentReleaseProjectId}"
                 ng-click="onClickProject($event, project)">
                 <td>{{project.repos_git | projectName}}</td>
                 <td>{{project.token}}</td>
                 <td>
                     {{project.repos_git}}
                     <div class="ui small icon buttons right floated">
                         <div class="ui button red left" ng-click="onClickRemove($event, project)" title="删除项目"><i class="remove icon"></i></div>
                         <div class="ui button blue right" ng-click="onClickEdit($event, project)" title="编辑项目"><i class="edit icon"></i></div>
                         <div class="ui button green right" ng-click="onClickRefresh($event, project)" title="刷新Tag列表"><i class="refresh icon"></i></div>
                     </div>
                 </td>
             </tr>
             </tbody>
         </table>
    </textarea>

    <!--发布的主界面-->
    <textarea id="tmpl-release">
        <div class="custom-release ui grid">
            <div class="ui row">
                <div class="eight wide column">
                    <release-project-list></release-project-list>
                    <div class="ui row center aligned" style="text-align: right">
                        <div class="green ui button" ng-click="onClickEdit($event)">
                            <i class="add icon"></i>
                            添加新项目
                        </div>
                    </div>
                </div>
                <div class="eight wide column">
                    <release-tag-list></release-tag-list>
                </div>
            </div>
        </div>
    </textarea>

    <!--标签列表-->
    <textarea id="tmpl-release-tag-list">
        <div>
            <table class="ui celled structured table custom-release-project-list" ng-show="tags.success && tags.items.length > 0">
                <thead>
                <tr>
                    <th class="three wide column">Tag</th>
                    <th class="four wide column">Hash</th>
                    <th class="six wide column">Message</th>
                    <th class="three wid column">控制</th>
                </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="tag in tags.items">
                        <td>
                            {{tag.name}}
                        </td>
                        <td>
                            <p>
                                <a href="{{tag.commit.id | hash2Link: tag.ssh_git}}" target="_blank">
                                    {{tag.commit.id | limitTo: 20}}
                                </a>
                            </p>
                            <p>
                                {{tag.commit.committed_date | date: 'yyyy-MM-dd HH:mm'}}
                            </p>
                        </td>
                        <td>
                            <span class="custom-message">
                                {{tag.commit.message}}
                            </span>
                        </td>
                        <td class="center aligned" style="min-width: 100px">
                            <div class="ui teal button" ng-click="onClickDeploy($event, tag)">发布</div>
                        </td>
                    </tr>
                    <tr style="display: none;">
                        <td colspan="3" class="ui form">
                            <input type="text" placeholder="请手动输入hash值进行部署">
                        </td>
                        <td class="center aligned">
                            <div class="ui orange button" ng-click="onClickDeploy($event)">部署</div>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div ng-show="!tags.success || tags.items.length == 0">
                <div class="ui info message" ng-show="tags.success">
                    <p>没有检查到可用的标签，请刷新标签，或者检查配置是否错误</p>
                </div>

                <div class="ui negative message" ng-show="tags.error">
                    <div class="header">
                        似乎有一些错误发错了，详细的信息如下：
                    </div>
                    <p>{{tags.error | json}}</p>
                </div>
            </div>
        </div>
    </textarea>

    <!--release时的认证-->
    <textarea id="tmpl-release-authority">
        <div class="ui small modal">
            <i class="close icon"></i>
            <div class="header">
                身份验证
            </div>
            <div class="content">
                <form class="ui form">
                    <div class="field">
                        <label>警告，此操作将产生重大影响，请输入您的授权码！</label>
                        <input type="password" ng-model="token" placeholder="您的授权码">
                    </div>
                </form>
            </div>
            <div class="actions">
                <div class="default close ui button">取消</div>
                <div class="primary approve ui button" ng-click="onClickRelease($event)">发布</div>
            </div>
        </div>
    </textarea>

    <!--发布项目的编辑器-->
    <textarea id="tmpl-release-project-editor">
        <div class="ui small modal">
            <i class="close icon"></i>
            <div class="header">
                添加新项目
            </div>
            <div class="content">
                <form class="ui form">
                    <!--
                    <div class="field">
                        <label>项目名称</label>
                        <input type="text" ng-model="project.repos_name">
                    </div>
                    -->
                    <div class="field">
                        <label>仓库地址</label>
                        <input type="text" ng-model="project.repos_git">
                    </div>
                    <div class="field">
                        <label>
                            执行指令
                            <a href="http://bhf.hunantv.com/project/88/version/80/document/4845" target="_blank" title="如何自定义执行指令？">
                                <i class="icon help circle large"></i>
                            </a>
                        </label>
                        <input type="text" ng-model="project.command" placeholder="发布时要执行的指令，默认执行Silky">
                    </div>
                    <div class="field">
                        <label>Token
                            <a href="http://bhf.hunantv.com/project/88/version/80/document/4020" target="_blank" title="如何知道我的Token？">
                                <i class="icon help circle large"></i>
                            </a>
                        </label>
                        <input type="text" ng-model="project.token" placeholder="如果没有设置token，则使用默认的token，但默认token可能没有足够的权限">
                    </div>
                </form>
            </div>
            <div class="actions">
                <div class="default close ui button">取消</div>
                <div class="primary approve ui button" ng-click="onClickSave($event)">保存</div>
            </div>
        </div>
    </textarea>


    <textarea id="tmpl-classify-user-list">
        <div class="ui secondary  menu">
            <a ng-repeat="user in gitUsers" ng-click="onClickUserItem($event, user.git_username)"
               class="item" href="/" ng-class="{active: user.git_username == activeMenu}">
               {{user.git_username}}
            </a>
        </div>
    </textarea>
</div>













